.login-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 320px;
    margin: 80px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000055;
    text-align: center;
  }
  
  .login-container input,
  .login-container button,
  .language-switcher select {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-container button {
    background-color: #ac7b7b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #8e5d5d;
  }
  
  .language-switcher {
    margin-top: 20px;
  }
  